*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
bottom-bar/build/generated/assets/
bottom-bar/build/generated/res/
bottom-bar/build/generated/source/aidl/
bottom-bar/build/generated/source/apt/
bottom-bar/build/generated/source/rs/
bottom-bar/build/intermediates/annotations/
bottom-bar/build/intermediates/bundles/debug/aidl/
bottom-bar/build/intermediates/bundles/debug/assets/
bottom-bar/build/intermediates/bundles/release/aidl/
bottom-bar/build/intermediates/bundles/release/assets/
bottom-bar/build/intermediates/bundles/release/jni/
bottom-bar/build/intermediates/bundles/release/libs/
bottom-bar/build/intermediates/classes/debug/
bottom-bar/build/intermediates/dependency-cache/
bottom-bar/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.1.1/aidl/
bottom-bar/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.1.1/assets/
bottom-bar/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.1.1/jni/
bottom-bar/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.1.1/libs/
bottom-bar/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.1.1/res/
bottom-bar/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.1.1/aidl/
bottom-bar/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.1.1/assets/
bottom-bar/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.1.1/jni/
bottom-bar/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.1.1/libs/
bottom-bar/build/intermediates/exploded-aar/com.android.support/design/24.1.1/aidl/
bottom-bar/build/intermediates/exploded-aar/com.android.support/design/24.1.1/assets/
bottom-bar/build/intermediates/exploded-aar/com.android.support/design/24.1.1/jni/
bottom-bar/build/intermediates/exploded-aar/com.android.support/design/24.1.1/libs/
bottom-bar/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.1.1/aidl/
bottom-bar/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.1.1/assets/
bottom-bar/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.1.1/jni/
bottom-bar/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.1.1/libs/
bottom-bar/build/intermediates/exploded-aar/com.android.support/support-v4/24.1.1/assets/
bottom-bar/build/intermediates/exploded-aar/com.android.support/support-v4/24.1.1/jni/
bottom-bar/build/intermediates/exploded-aar/com.android.support/support-v4/24.1.1/libs/
bottom-bar/build/intermediates/exploded-aar/com.android.support/support-v4/24.1.1/res/
bottom-bar/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.1.1/aidl/
bottom-bar/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.1.1/assets/
bottom-bar/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.1.1/jni/
bottom-bar/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.1.1/libs/
bottom-bar/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.1.1/res/
bottom-bar/build/intermediates/incremental-safeguard/debug/
bottom-bar/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
bottom-bar/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
bottom-bar/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
bottom-bar/build/intermediates/incremental/mergeDebugResources/aapt-temp/
bottom-bar/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
bottom-bar/build/intermediates/incremental/mergeDebugResources/merged.dir/
bottom-bar/build/intermediates/incremental/mergeReleaseResources/aapt-temp/
bottom-bar/build/intermediates/incremental/mergeReleaseResources/compile-file-map.properties
bottom-bar/build/intermediates/incremental/mergeReleaseResources/merged.dir/
bottom-bar/build/intermediates/incremental/packageDebugAndroidTest/
bottom-bar/build/intermediates/incremental/packageDebugResources/aapt-temp/
bottom-bar/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
bottom-bar/build/intermediates/incremental/packageDebugResources/merged.dir/
bottom-bar/build/intermediates/incremental/packageReleaseResources/aapt-temp/
bottom-bar/build/intermediates/incremental/packageReleaseResources/compile-file-map.properties
bottom-bar/build/intermediates/incremental/packageReleaseResources/merged.dir/
bottom-bar/build/intermediates/incremental/processDebugAndroidTestResources/
bottom-bar/build/intermediates/incremental/processDebugResources/
bottom-bar/build/intermediates/incremental/processReleaseResources/
bottom-bar/build/intermediates/jniLibs/
bottom-bar/build/intermediates/lint/
bottom-bar/build/intermediates/manifests/
bottom-bar/build/intermediates/rs/
bottom-bar/build/intermediates/shaders/
bottom-bar/build/intermediates/transforms/
bottom-bar/build/intermediates/typedefs.txt
bottom-bar/build/outputs/lint-results-debug.html
bottom-bar/build/outputs/lint-results-debug.xml
bottom-bar/build/tmp/
projectFilesBackup/
vitamio/build/generated/assets/
vitamio/build/generated/res/
vitamio/build/generated/source/aidl/
vitamio/build/generated/source/apt/
vitamio/build/generated/source/rs/
vitamio/build/intermediates/bundles/debug/aidl/
vitamio/build/intermediates/bundles/debug/assets/
vitamio/build/intermediates/bundles/release/aidl/
vitamio/build/intermediates/bundles/release/assets/
vitamio/build/intermediates/bundles/release/libs/
vitamio/build/intermediates/classes/debug/
vitamio/build/intermediates/dependency-cache/
vitamio/build/intermediates/incremental-safeguard/debug/
vitamio/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
vitamio/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
vitamio/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
vitamio/build/intermediates/incremental/packageDebugAndroidTest/
vitamio/build/intermediates/incremental/packageDebugResources/aapt-temp/
vitamio/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
vitamio/build/intermediates/incremental/packageDebugResources/merged.dir/
vitamio/build/intermediates/incremental/packageReleaseResources/aapt-temp/
vitamio/build/intermediates/incremental/packageReleaseResources/compile-file-map.properties
vitamio/build/intermediates/incremental/packageReleaseResources/merged.dir/
vitamio/build/intermediates/incremental/processDebugAndroidTestResources/
vitamio/build/intermediates/incremental/processDebugResources/
vitamio/build/intermediates/incremental/processReleaseResources/
vitamio/build/intermediates/lint/
vitamio/build/intermediates/manifest/tmp/
vitamio/build/intermediates/manifests/
vitamio/build/intermediates/rs/
vitamio/build/intermediates/shaders/
vitamio/build/intermediates/transforms/mergeJavaRes/
vitamio/build/outputs/lint-results-debug.html
vitamio/build/outputs/lint-results-debug.xml
vitamio/build/tmp/

