<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2016. Pritesh Patel, Toronto, Canada
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.moxdroid.interview.tabviewpagerexample">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:name=".AppConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.moxdroid.interview.tabviewpagerexample.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".slidepageview.MainActivity"/>
        <activity android:name=".tabpageview.HomeActivity"/>
        <activity android:name=".TimerTestActivity"/>
        <activity
            android:name=".runtimepermission.RunTimePermissionsTestActivity"
            android:label="@string/title_activity_run_time_permission"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activitytofragment.MainFragmentActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".FloatingLableTestActivity"/>
        <activity
            android:name=".VideoLiveStreamActivity"
            android:label="@string/title_activity_video_live_stream"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".volleytest.ImageLoadingActivity"/>
        <activity android:name=".PhoneStateListenerActivity"/>
        <activity
            android:name=".ScreenOrientationTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <service
            android:name=".downloads.DataDownloadIntentService"
            android:exported="false"/>

        <activity android:name=".downloads.DataDownloadActivity"/>
        <activity android:name=".BaseActivity"/>
        <activity android:name=".databasegreendao.FetchLoaderActivity"/>
        <activity android:name=".exampleloopj.NetworkCallActivity"/>
        <activity android:name=".multitasking.HandlerExampleActivity"/>
        <activity android:name=".CustomLibraryTestActivity"/>
        <activity android:name=".multitasking.PeriodicHandlerActivity"/>
        <activity android:name=".CustomProgressBarActivity"/>
        <activity android:name=".firebaseexample.FireBaseExampleActivity"/>

        <service
            android:name=".firebaseexample.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".firebaseexample.MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".InputLayoutActivity"/>
        <activity android:name=".BottomTabNavigationActivity"/>
        <activity android:name=".TirangleBadgeViewActivity"/>
        <activity android:name=".fragmentexample.TabOrMobileActivity"/>
        <activity android:name=".chat.ChatActivity"/>
        <activity android:name=".LinearLayoutListActivity"/>
        <activity android:name=".HelloAndroid"/>
        <activity
            android:name=".SampleConstraintViewExampleActivity"
            android:label="@string/title_activity_sample_constraint_view_example"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".daggerexample.DaggerActivity">
        </activity>
        <activity android:name=".webapp.WebAppTestActivity">
        </activity>
        <activity android:name=".CameraActivity">
        </activity>
        <activity
            android:name=".loaderexample.LoaderExampleActivity"
            android:label="@string/title_activity_loader_example"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".encryption.SymmetricAlgorithmAESActivity">

        </activity>
        <activity android:name=".encryption.AsymmetricAlgorithmRSAActivity">

        </activity>
    </application>

</manifest>